.loginFormContainer {
  width: 16rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loginForgot {
  float: right;
}
.loginButton {
  width: 100%;
}

.error {
  color: red;
}
