.navigation {
  display: flex;
  justify-content: space-between;
}
.listWrap {
  display: flex;
  flex-wrap: wrap;
}
.listWrap li {
  margin: 10px;
  list-style: none;
}
.logo {
  display: flex;
  align-self: center;
}
