.searchInput {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  font-size: 50px;
  font-weight: 800;
  outline: none;
}
.wrap {
  padding: 0 5% 0 5%;
}
.image {
  width: 100%;
  max-width: 245px;
  height: auto;
}
